html {
    font-size: 13px;
    font-family:"Mooli", Tahoma, sans-serif;
    background: linear-gradient(90deg, #85797c, #7D6986, #000000);
    overflow: auto;
}
.title {
    margin-left: auto;
    margin-right: auto;
   background-color: rgb(170, 152, 131);
   font-size: 1.75rem;
   display: flex;
   align-items: center;
    flex-direction:  column; 
    width: 50%;
  margin-bottom: 20px;
   box-shadow: 10px 7px 10px rgb(0, 0, 0);
   justify-content: space-around;
}
.title-text {
    transition: 1.25s;
}
.card {
    display: flex;
    align-items: center;
   flex-direction: column;  
   background-color: rgb(170, 152, 131);
   width: 23%;
   margin-bottom: 1.5rem;
   padding: 3px;
   box-shadow: 10px 7px 10px rgb(0, 0, 0);
   justify-content: space-around;
   transition: all .3s;
}   


@media screen and (max-width: 1000px) {
    .card{ width: 45%;}
    .title{ width: 70%; font-size: 1.4rem;}
}
@media screen and (max-width: 550px) {
  .card{ width: 95%;}
 .title{ width: 60%; font-size: 1.25rem;}
    
} 
  .title {
    animation: 2.1s alternate slidein;
} 
 @keyframes slidein {
    from {
        margin-left: 25%;
        width: 300%;
        overflow: hidden;
      }
      to {
        margin-left:25%;
        margin-right:25%;
        width: 50%;
      }
}
@media screen and (max-width:1000px) {
    @keyframes slidein {
        from {
            margin-left: 15%;
            width: 300%;
            overflow: hidden;
        }
        to {
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
        }
        }
}
@media screen and (max-width:550px) {
    @keyframes slidein {
        from {
            margin-left: 20%;
            width: 300%;
            overflow: hidden;
        }
        to {
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
        }
        }
}

.header {
    font-size: 2rem;
    transition: 1s;
}
.image {
    width: 50%;
    border: 5px rgb(0, 0, 0) solid;
    transition: .3s;
}
.container {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}
.image:hover {
    transform: scale(1.2);
}
.title-text:hover {
    font-size: 250%;
}


.card h2:hover {
    color: transparent;
    transition: .3s;
}
.header:hover {
    transform: translateY(10px);
}
.card:hover {
    transform: translateY(-7px);
}